@using Perfume.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PromotionModel>

<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
        <div class="carousel-item active p-0">
            <img src="@Model.FirstOrDefault()?.Image" class="d-block w-100" alt="Oferta">
        </div>
        <span>@Model.FirstOrDefault()?.Description</span>
        @foreach (var promotion in Model.Skip(1))
        {
            <div class="carousel-item">
                <img src="@promotion.Image" class="d-block w-100" alt="Oferta">
                <span class="d-block">@promotion.Description</span>
            </div>
        }
    </div>
    
    @if (User.IsInRole(Roles.Administrator))
    {
        <div class="position-absolute add-button">
            <a class="btn btn-danger rounded-pill fs-3" asp-area="" asp-controller="Home" asp-action="AddPromotion"><i class="bi bi-plus"></i></a>
           
        </div>
    }
</div>
