@using Perfume.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PromotionModel>

<div class="position-relative">
    <div class="overflow-auto no-scrollbar" style="width: 100%;">
        <div class="d-flex px-1 gap-2" style="width: max-content; height: 100vh;">
            @foreach (var promotionModel in Model)
            {
                <div class="position-relative ml-0 index-up" style="height: 400px; width: 70vw;">
                    <img src="@Url.Content(promotionModel.Image)" class="rounded" style="height: 400px; width: 70vw;" alt="Image" />
                    <div class="pl-5 ml-3 pr-5 mr-3">@promotionModel.Description</div>
                </div>
            }
        </div>
    </div>
</div>

@if (User.IsInRole(Roles.Administrator))
{
    <div class="position-absolute add-button">
        <a class="btn btn-danger rounded-pill fs-3" asp-area="" asp-controller="Home" asp-action="AddPromotion"><i class="bi bi-plus"></i></a>

    </div>
}
