@using Perfume.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PromotionModel>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @{
            var first = true;
        }
        @foreach (var promotionModel in Model)
        {
            <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">
                <img class="d-block w-100" src="@promotionModel.Image" alt="Image">
                <div> @promotionModel.Description</div>
            </div>
            first = false;
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
       data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
       data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show position-absolute" style="right: 90px" role="alert">
        <strong>@TempData["SuccessMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (User.IsInRole(Roles.Administrator))
{
    <div class="position-absolute add-button">
        <a class="btn btn-danger rounded-pill fs-3" asp-area="" asp-controller="Home" asp-action="AddPromotion"><i class="bi bi-plus"></i></a>

    </div>
}
