<div class="main_header header-mobile-m">
    <div class="header_container sticky-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2">
                    <div class="logo">
                        <div class ="logo-color">
                            <h3><a href="/">Aroma Boutique</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <!-- main-menu starts -->
                    <div class="main_menu menu_two menu_position">
                        <nav>
                            <ul>
                                <li class="mega_items">
                                    <a href="/Perfume/Perfumes">Parfumuri <i class="fa fa-angle-down"></i></a>
                                    <div class="mega_menu">
                                        <ul class="mega_menu_inner">
                                            <li>
                                                <a href="#">Parfumuri pentru bărbați</a>
                                                <ul>
                                                    <li><a href="#">Versace</a></li>
                                                    <li><a href="#">Hugo Boss</a></li>
                                                    <li><a href="#">Jaguar</a></li>
                                                    <li><a href="#">Armani</a></li>
                                                    <li><a href="#">Paco Rabbane</a></li>
                                                    <li><a href="#">Ralph Lauren</a></li>
                                                </ul>

                                            </li>
                                            <li>
                                                <a href="#">Parfumuri pentru femei</a>
                                                <ul>
                                                    <li><a href="#">Bvlgari</a></li>
                                                    <li><a href="#">Coach</a></li>
                                                    <li><a href="#">Kenzo</a></li>
                                                    <li><a href="#">D&G</a></li>
                                                    <li><a href="#">Jean Paul Gaultier</a></li>
                                                </ul>

                                            </li>
                                            <li>
                                                <a href="#">Parfumuri Unisex</a>
                                                <ul>
                                                    <li><a href="#">Ajmal</a></li>
                                                    <li><a href="#">Calvin Klein</a></li>
                                                    <li><a href="#">The Body Shop</a></li>
                                                    <li><a href="#">Lattafa</a></li>
                                                </ul>

                                            </li>
                                            <li>
                                                <a href="#">Branduri celebre</a>
                                                <ul>
                                                    <li><a href="#">DIOR</a></li>
                                                    <li><a href="#">Hugo Boss</a></li>
                                                    <li><a href="#">Armani</a></li>
                                                    <li><a href="#">Rabanne</a></li>
                                                    <li><a href="#">NOVELLISTA</a></li>
                                                </ul>

                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- main menu ends -->
                </div>
                <div class="col-lg-4">
                    <div class="header_top_right">
                        <div class="header_right_info">
                            <ul>
                                <li class="search_box">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <div class="search_widget">
                                        <form action="#">
                                            <input type="text" placeholder="Caută parfum">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </li>
                                <li class="header_wishlist">
                                    <a href="#">
                                        <i class="fa fa-heart-o"></i>
                                        <span class="item_count">4</span>
                                    </a>
                                </li>
                                <li class="mini_cart_wrapper">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="item_count">2</span>
                                    </a>

                                    <!-- mini cart  -->
                                    <div class="mini_cart mini_cart2">
                                        <div class="cart_gallery">
                                            <div class="cart_item">
                                                <div class="cart_img">
                                                    <a asp-area="" asp-controller="Perfume" asp-action="Perfume">
                                                        <img src="/images/new-product/N3.png"
                                                             alt="Parfum">
                                                    </a>
                                                </div>
                                                <div class="cart_info">
                                                    <a href="#">Versace</a>
                                                    <p><span>410 RON</span> X 1</p>
                                                </div>
                                                <div class="cart_remove">
                                                    <a href="#"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                            <div class="cart_item">
                                                <div class="cart_img">
                                                    <a href="#">
                                                        <img src="/images/small-product/mini2.png"
                                                             alt="Parfum">
                                                    </a>
                                                </div>
                                                <div class="cart_info">
                                                    <a href="#">Bulgari</a>
                                                    <p><span>749 RON</span> X 1</p>
                                                </div>
                                                <div class="cart_remove">
                                                    <a href="#"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mini_cart_table">
                                            <div class="cart_table_border">
                                                <div class="cart_total">
                                                    <span>Sub Total :</span>
                                                    <span class="price">1 359 RON</span>
                                                </div>

                                                <div class="cart_total mt-10">
                                                    <span>Total :</span>
                                                    <span class="price">1 384 RON</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mini_cart_footer">
                                            <div class="cart_button">
                                                <a asp-area="" asp-controller="Cart" asp-action="Cart">Vezi coș</a>
                                            </div>
                                            <div class="cart_button">
                                                <a onclick="alert('Comanda a fost înregistrată cu succes'), window.location.href='/'">Comandă</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- mini cart ends -->
                                </li>
                            </ul>
                        </div>
                        <div class="header_account">
                            <ul>
                                <li class="top_links">
                                    <a href="#">
                                        <i class="fa fa-user"></i>
                                    </a>
                                    <ul class="dropdown_links cart_button">
                                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Conectare</a></li>
                                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Inregistrare</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
