<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/blog/blog3.jpg" class="img-fluid m-1" alt="Imagine blog"></img>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h1>Despre noi</h1>
                <h2>Aroma Boutique</h2>
            </div>
            <p>
                Noi, cei de la Aroma Boutique, credem că frumusețea ar trebui să fie accesibilă oricui, pentru că aduce încredere și schimbări pozitive în viața fiecăruia. Oamenii care se simt mai frumoși își ating mai ușor obiectivele și, la rândul lor, fac lumea din jur mai frumoasă.
            </p>
        </div>
        <hr/>

        <div class="col-md-6 order-md-2">
            <img src="~/images/nume/ban.jpg" class="img-fluid" alt="Imagine blog"></img>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="text-center m-4">
                <h2>O selecție variată de parfumuri și produse cosmetice întotdeauna la prețuri excelente</h2>
            </div>
            <p>
                O selecție variată de parfumuri și produse cosmetice întotdeauna la prețuri excelente
                În ultimii 17 ani, mulțumită vouă am devenit magazinul online cu o selecție variată de parfumuri și produse cosmetice. Astăzi, puteți alege dintre 82.000 de produse unice de la 1.500 de branduri globale sau locale. 
                </p>
        </div>
      
    </div>
    <div class="d-flex flex-column m-3">   <img src="~/images/nume/locatii.jpg"></div>
    <hr/>
    
    <div class="row">
        <div class="col-md-6 order-md-2">
            <img src="~/images/nume/expediere.jpg" class="img-fluid" alt="Imagine blog"></img>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="text-center m-4">
                <h2>Expediem până la 140.000 de colete pe zi</h2>
            </div>
            <p>
                Încercăm mereu să vă oferim cele mai potrivite produse. În același timp, obiectivul nostru este să vă ajungă în siguranță și cât mai repede. Datorită tehnologiilor proprii, logistică perfectă și centru de distribuție perfect gestionat, comanda este în medie de două ore pe drum. 
                Suntem capabili să gestionăm până la 140.000 de comenzi pe zi. 
                Anul trecut am livrat 12 milioane de comenzi.
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/nume/rezolva.jpg" class="img-fluid m-1" alt="Imagine blog"></img>
        </div>
        <div class="col-md-6">
            <div class="text-center">

                <h2>Suntem întotdeauna aici pentru voi</h2>
            </div>
            <p>
                De la început, satisfacția clienților a fost întotdeauna prioritatea noastră. Peste 1.300 dintre angajații noștri lucrează în fiecare zi pentru ca totul să funcționeze perfect. Vorbim 19 limbi și muncim 7 zile pe săptămână,
                așa că vă putem ajuta în orice moment cu selectarea 
                produselor sau cu rezolvarea problemelor tehnice.
            </p>
        </div>
    </div>
    <img src="~/images/nume/angajati.jpg" class="img-fluid m-1" alt="Imagine blog"></img>
</div>
