<div class=" d-flex align-items-center">
<div class="container-fluid">
    <div class="row">
        <img src=""></img>
        <div class="col-lg-6 offset-lg-6 col-md-6 offset-md-6">
            <div class="slider_content slider_content2 content_right">
                <h1>Despre noi</h1>
                <h2>Aroma Boutique</h2>
                <p>
                    Noi, cei de la Aroma Boutique credem că frumusețea ar trebui să fie accesibilă oricui, pentru că aduce încredere și schimbări pozitive în viața fiecăruia.
                    Oamenii care se simt mai frumoși își ating mai ușor obiectivele și, la rândul lor, fac lumea din jur mai frumoasă.
                </p>
            </div>
        </div>
    </div>
</div>
</div>