<div class="text-dark d-flex flex-column gap-2 mt-3" align="center">
    <span style="font-family:serif"><h3>CONTACT</h3></span>

    <div class="card-group">
        <div class="card">
            <i class="fa fa-phone fa-2x mt-5"></i>
            <div class="card-body">
                <h5 class="card-title">Linia serviciul clienți</h5>
                <a href="#">0765 432 112</a>
                <p class="card-text">Luni - Vineri 8-18,</p>
                <p>Sâmbătă 10-18</p>
            </div>
        </div>
        <div class="card">
            <i class="fa fa-envelope fa-2x mt-5"></i>
            <div class="card-body">
                <h5 class="card-title">Trimite-ne e-mail!</h5>
                <a href="https://mail.yahoo.com/d/search/referrer=starred&keyword=is%253Astarred&accountIds=1">aromaboutique@yahoo.com</a>
            </div>
        </div>
        <div class="card">
            <i class="fa fa-refresh fa-2x mt-5"></i>
            <div class="card-body">
                <h5 class="card-title">Reclamație</h5>
                <a href="https://mail.yahoo.com/d/search/referrer=starred&keyword=is%253Astarred&accountIds=1">aromaboutique@yahoo.com</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <span style="font-family: fantasy">Vreţi să ne întrebaţi ceva? Scrieţi-ne aici, vă rugăm.  </span>
    <div class="mt-5">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Nume">
                </div>
                <div class="col">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Mobil/Telefon">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Numărul comenzii">
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="4" cols="50" placeholder="Te rugăm să tastezi aici întrebarea ta "></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <select class="form-control">
                        <option selected>Cum putem răspunde?</option>
                        <option>Email</option>
                        <option>Telefon</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control">
                        <option selected>Cu ce vă putem ajuta?</option>
                        <option>Anularea comenzii</option>
                        <option>Retragere din contact/Reclamație</option>
                        <option>Informații produse</option>
                        <option>Altele</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
            </div>
            <button type="submit" class="btn bg-dark text-white">Trimite</button>
        </form>

    </div>
</div>