 <footer class="footer_widgets color_two">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-7">
                        <div class="widgets_container contact_us">
                            <div class="logo">
                            <div class="logo-color">
                                <a href="#">Aroma Boutique</a>
                            </div>
                        </div>
                            <div class="footer_desc">
                                <p>Get all types of perfume from us within 2 day delivery. We can even order the
                                    perfumes which are not in our database. To do that kindly send a E-mail to the
                                    company's mail id.</p>
                            </div>
                            <p>
                                <span>Address :</span> Calea Bucuresti 107C, Craiova, Dolj, Romania
                            </p>
                            <p><span>Email :</span> <a href="#">aromaboutique@gmail.com</a></p>
                            <p><span>Phone :</span> <a href="tel: 0765 432 112">0765 432 112</a> </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5">
                        <div class="widgets_container widget_menu">
                            <h3>Information</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">New Products</a></li>
                                    <li><a href="#">Best Sales</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Wish List</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_link">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer section starts  -->

        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p>Copyright &copy; 2024 <a href="#">Aroma Boutique </a>All right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>}
