TO DO COLOR Email and Phone
<footer class="footer_widgets color_two">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="widgets_container contact_us">
                        <div class="logo">
                            <div class="logo-color">
                                <a class="logo-color" href="#">Aroma Boutique</a>
                            </div>
                        </div>
                        <div class="footer_desc">
                            <p>
                                Get all types of perfume from us within 2 day delivery. We can even order the
                                perfumes which are not in our database. To do that kindly send a E-mail to the
                                company's mail id.
                            </p>
                        </div>
                        <p>
                            <span>Adresa :</span> Calea Bucuresti 107C, Craiova, Dolj, Romania
                        </p>
                        <p><span>Email :</span> <a href="#">aromaboutique@yahoo.com</a></p>
                        <p><span>Telefon :</span> <a href="tel: 0765 432 112">0765 432 112</a> </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5">
                    <div class="widgets_container widget_menu">
                        <h3>Information</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a asp-area="" asp-controller="AboutUs" asp-action="AboutUs">Despre noi</a></li>
                                <li><a asp-area="" asp-controller="Contact" asp-action="Contact">Contact</a></li>
                                <li><a href="#">Best Sales</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Wish List</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="newsletter_style2 col-lg-5">
                    <div class="newsletter_container">
                        <div class="section_title section_title_style2">
                            <h2>Newsletter</h2>
                        </div>
                        <div class="subscribe_form">
                            <form class="d-flex flex-row gap-2">
                                <input type="email" autocomplete="off" placeholder="examplu@yahoo.com">
                                <button>
                                    <i class="fa fa-envelope-o"></i>
                                </button>
                            </form>
                        </div>
                        <div class="newsletter_content">
                            <p>Oferte, noutăți și reduceri prin e-mail</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_link">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- footer section starts  -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p>Copyright &copy; 2024 <a href="#">Aroma Boutique </a>All right Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>}
