 <footer class="footer_widgets color_two">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-7">
                        <div class="widgets_container contact_us">
                            <div class="footer_logo">
                                <a href="#"><img src="images/logo.png" alt="Logo"></a>
                            </div>
                            <div class="footer_desc">
                                <p>Get all types of perfume from us within 2 day delivery. We can even order the
                                    perfumes which are not in our database. To do that kindly send a E-mail to the
                                    company's mail id.</p>
                            </div>
                            <p>
                                <span>Address :</span> International Business Center, Vesu, Surat, Gujarat
                            </p>
                            <p><span>Email :</span> <a href="#">deo@gmail.com</a></p>
                            <p><span>Phone :</span> <a href="tel: +91 8888884444">+91 8888884444</a> </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5">
                        <div class="widgets_container widget_menu">
                            <h3>Information</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Prices Drop</a></li>
                                    <li><a href="#">New Products</a></li>
                                    <li><a href="#">Best Sales</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Gift Certificate</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Wish List</a></li>
                                    <li><a href="#">Specials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widgets_container widgets_p_product">
                            <h3>Featured Products</h3>
                            <div class="small_product_container small_product_column1 owl-carousel">
                                <div class="small_product_list">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/onsale/D12-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="images/onsale/D12-2.png" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Bvlgari Women Goldea</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Rs. 3999</span>
                                                    <span class="current_price" style="color: white;">Rs. 3700</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/onsale/D11-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="images/onsale/D11-2.png" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Jimmy Choo Illicit Flower
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="old_price">Rs. 4999</span>
                                                    <span class="current_price" style="color: white;">Rs.
                                                        4200</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/best-product/B5-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="images/best-product/B5-2.png" alt="">
                                                </a>

                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Jimmy Choo Women Fever</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Rs. 7499</span>
                                                    <span class="current_price" style="color: white;">Rs. 7200</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                <div class="small_product_list">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/best-product/B4-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="images/best-product/B4-2.png" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Mugler Aura Women</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Rs. 7999</span>
                                                    <span class="current_price" style="color: white;">Rs. 7550</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/onsale/D1-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="images/onsale/D1-2.png" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Paco Rabbane Pure XS for her
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="old_price">Rs. 6550</span>
                                                    <span class="current_price" style="color: white;">Rs.
                                                        4250</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/new-product/N5-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="images/new-product/N5-2.png" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Kenzo Women World</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Rs. 5999</span>
                                                    <span class="current_price" style="color: white;">Rs. 5900</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widgets_container widgets_p_product">
                            <h3>Most Viewed Products</h3>
                            <div class="small_product_container small_product_column1 owl-carousel">
                                <div class="small_product_list">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/onsale/D12-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="images/onsale/D12-2.png" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Bvlgari Women Goldea</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Rs. 3999</span>
                                                    <span class="current_price" style="color: white;">Rs. 3700</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/onsale/D11-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="images/onsale/D11-2.png" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Jimmy Choo Illicit Flower
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="old_price">Rs. 4999</span>
                                                    <span class="current_price" style="color: white;">Rs.
                                                        4200</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/best-product/B5-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="images/best-product/B5-2.png" alt="">
                                                </a>

                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Jimmy Choo Women Fever</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Rs. 7499</span>
                                                    <span class="current_price" style="color: white;">Rs. 7200</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                <div class="small_product_list">
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/best-product/B4-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="images/best-product/B4-2.png" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Mugler Aura Women</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Rs. 7999</span>
                                                    <span class="current_price" style="color: white;">Rs. 7550</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/best-product/B5-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="images/best-product/B5-2.png" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Jimmy Choo Women Fever</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Rs. 7499</span>
                                                    <span class="current_price" style="color: white;">Rs. 7200</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="images/best-product/B6-1.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="images/best-product/B6-2.png" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Dloce & Gabbana Women </a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Rs. 7499</span>
                                                    <span class="current_price" style="color: white;">Rs. 7200</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer_link">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">Affiliate</a></li>
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer section starts  -->

        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p>Copyright &copy; 2021 <a href="#">Perfume Store </a>All right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer_payment text-right">
                            <ul>
                                <li><a href="#"><img src="images/icon/paypal.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/icon/paypal1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/icon/paypal2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/icon/paypal3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/icon/paypal4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/icon/paypal5.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>}
