.button-custom-hover {
    color: grey;
    z-index: 2;
    position: relative;
}
.button-custom-hover:hover {
    color: orangered;
}

.action_links ul li {
    display: inline;

}

.ratings {
    margin-right: 10px;
}

.ratings i {
    color: #cecece;
    font-size: 15px;
}

.rating-color {
    color: #fbc634 !important;
}