@using Perfume.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PerfumeModel>

@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

@if (!Model.Any())
{
    <p>Nu s-au găsit parfumuri!</p>
}

<div class="row p-2 g-2" style="position: absolute; left: 40px; background: aliceblue; margin-top: 20px; align-content: center; align-items: center">
    <div class="col-md-1">
        <table class="">
            <thead>
                <tr>Sort</tr>
            <tr>
                <td>Alphabetic</td>
                <th><a asp-action="Perfumes" asp-controller="Perfume" asp-route-pg="1" asp-route-sortOrder="name_asc" class="text-black"><i class="fa fa-sort-asc"></i></a></th>
                <th><a asp-action="Perfumes" asp-controller="Perfume" asp-route-pg="1" asp-route-sortOrder="name_desc" class="text-black"><i class="fa fa-sort-desc"></i></a></th>
            </tr>
            <tr>
                <td>Price</td>
                <th><a asp-action="Perfumes" asp-controller="Perfume" asp-route-pg="1" asp-route-sortOrder="price_asc" class="text-black"><i class="fa fa-sort-asc"></i></a></th>
                <th><a asp-action="Perfumes" asp-controller="Perfume" asp-route-pg="1" asp-route-sortOrder="price_desc" class="text-black"><i class="fa fa-sort-desc"></i></a></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div class="row p-2 g-2">
    @foreach (var perfume in Model)
    {
        <div class="col col-3">
            @await Html.PartialAsync("Components/PerfumeCard", perfume)
        </div>
    }
</div>

@if (User.IsInRole(Roles.Administrator))
{
    <div class="position-absolute add-button">
        <a class="btn btn-danger rounded-pill fs-3" asp-area="" asp-controller="Perfume" asp-action="AddPerfume"><i class="bi bi-plus"></i></a>
        <a class="btn btn-danger rounded-pill fs-3" asp-area="" asp-controller="Brands" asp-action="AddBrand"><i class="bi bi-plus"></i></a>
    </div>
}

<partial name="Components/Pager" model="@pager"/>