@using Perfume.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PerfumeModel>

@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

@if (!Model.Any())
{
    <p>Nu s-au găsit parfumuri!</p>
}

<div class="row p-2 g-2">
    @foreach (var perfume in Model)
    {
        <div class="col col-3">
            @await Html.PartialAsync("Components/PerfumeCard", perfume)
        </div>
    }
</div>

@if (User.IsInRole(Roles.Administrator))
{
    <div class="position-absolute add-button">
        <a class="btn btn-danger rounded-pill fs-3" asp-area="" asp-controller="Perfume" asp-action="AddPerfume"><i class="bi bi-plus"></i></a>
        <a class="btn btn-danger rounded-pill fs-3" asp-area="" asp-controller="Brands" asp-action="AddBrand"><i class="bi bi-plus"></i></a>
    </div>
}

<partial name="Components/Pager" model="@pager"/>