@using Perfume.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PerfumeModel>

@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

@if (!Model.Any())
{
    <p>Nu s-au găsit parfumuri!</p>
}


<div class="mb-3 position-relative">
    <input type="text" id="searchPerfume" class="form-control" placeholder="Caută parfumuri..." autocomplete="off">
    <div id="suggestions" class="list-group" style="display: none; position: absolute; width: 100%; z-index: 9999; background-color: white;"></div>
</div>

<div class="row p-2 g-2" style="position: absolute; left: 40px; background: aliceblue; margin-top: 20px; align-content: center; align-items: center">
    <div class="col-md-1">
        <table class="">
            <thead>
                <tr>Sort</tr>
            <tr>
                <td>Alphabetic</td>
                <th><a asp-action="Perfumes" asp-controller="Perfume" asp-route-pg="1" asp-route-sortOrder="name_asc" class="text-black"><i class="fa fa-sort-asc"></i></a></th>
                <th><a asp-action="Perfumes" asp-controller="Perfume" asp-route-pg="1" asp-route-sortOrder="name_desc" class="text-black"><i class="fa fa-sort-desc"></i></a></th>
            </tr>
            <tr>
                <td>Price</td>
                <th><a asp-action="Perfumes" asp-controller="Perfume" asp-route-pg="1" asp-route-sortOrder="price_asc" class="text-black"><i class="fa fa-sort-asc"></i></a></th>
                <th><a asp-action="Perfumes" asp-controller="Perfume" asp-route-pg="1" asp-route-sortOrder="price_desc" class="text-black"><i class="fa fa-sort-desc"></i></a></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div id="perfumeListContainer">
    @await Html.PartialAsync("Components/PerfumeList", Model)
</div>


@if (User.IsInRole(Roles.Administrator))
{
    <div class="position-absolute add-button">
        <a class="btn btn-danger rounded-pill fs-3" asp-area="" asp-controller="Perfume" asp-action="AddPerfume"><i class="bi bi-plus"></i></a>
        <a class="btn btn-danger rounded-pill fs-3" asp-area="" asp-controller="Brands" asp-action="AddBrand"><i class="bi bi-plus"></i></a>
    </div>
}

<partial name="Components/Pager" model="@pager"/>


<script>
    $(document).ready(function () {
        $('#searchPerfume').on('input', function () {
            var query = $(this).val();

            if (query.length >= 1) {
                $.ajax({
                    url: '/Perfume/SearchPerfumes',
                    data: { searchTerm: query },
                    success: function (data) {
                        if (data.length > 0) {
                            $('#suggestions').empty().show();
                            data.forEach(function (item) {
                                $('#suggestions').append('<a href="/Perfume/Perfume/' + item.id + '" class="list-group-item list-group-item-action">' + item.name + '</a>');
                            });
                        } else {
                            $('#suggestions').hide();
                        }
                    }
                });
            } else {
                $('#suggestions').hide();
            }
        });

        $(document).click(function (e) {
            if (!$(e.target).closest('#searchPerfume').length) {
                $('#suggestions').hide();
            }
        });
    });


</script>