.button-custom-hover {
    color: grey;
    z-index: 2;
    position: relative;
}

.button-custom-hover:hover {
    color: orangered;
}

.action_links ul li {
    display: inline;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}