<div class="d-flex flex-column align-items-center p-2">
    <p> <h3> Parfumerie Craiova</h3></p>
    <p> <h4> MAGAZIN + PUNCT DE RIDICARE</h4></p>
</div>

<div class=" d-flex flex-row justify-content-center pt-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d356.8321066723541!2d23.82134450705962!3d44.31700443073277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d700d78f9257%3A0x7eb7ffda92a75a0f!2sC.C.O.C.%20-%20Center%20for%20Counseling%20and%20Career%20Guidance!5e0!3m2!1sen!2sro!4v1710360504282!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class=" d-flex flex-row justify-content-between">
    <div class="pt-5">
        <h3>Adresa </h3>
        <p> Calea București, nr 107C, Craiova, Dolj, România</p>
        <p> Telefon 0765 432 112</p>
        <p> E-mail aromaboutique@yahoo.com</p>
    </div>
    <div class="pt-5">
        <h3> Program</h3>
        <p>Luni - Duminică</p>
        <p>10:00 - 22:00 </p>
    </div>

    <div class="pt-5">
        <span>
            <h3>Centre de vânzare</h3>
            <ul>
                <li>Vânzări directe de produse</li>
                <li>Ridicare personală</li>
                <li>Serviciul reclamații</li>
                <li>Plată prin card</li>
            </ul>
            <img src="~/images/icon/visa.png"></img>
            <img src="~/images/icon/mastercard.png"></img>
            <img src="~/images/icon/googlepay.png">
        </span>
    </div>
</div>

<div class="d-flex flex-column align-items-center pt-5 gap-5">
    <h2> Despre magazin</h2>
    <div class="a"> Lumea noastră de parfumuri și frumusețe vă va întâmpina cu drag în centrul comercial Craiova. 
        Aici vă așteaptă sute de parfumuri. 
        Profesioniștii instruiți care își înțeleg cu adevărat munca și se bucură de ea vor fi bucuroși să vă ajute să alegeți parfumul. Puteți să vă ridicați comenzile plasate online, să încercați și să mirosiți produsele care vă interesează și să descoperiți noutăți fierbinți sau bestselleruri dovedite. În plus, magazinul nostru se mândrește cu dotări revoluționare de înaltă tehnologie, servicii și o fântână unică de parfum Mugler, pe care o puteți folosi pentru a vă reumple parfumul preferat, cum ar fi Alien sau Angel. 
        Așteptăm cu nerăbdare vizita dvs.! </div>
</div>
