@model List<CartModel>

@if (Model.Count() <= 0)
{
    <p>Nu s-au găsit parfumuri!</p>
}
<div class="container">
    <div class="title-cart">Coș de cumpărături</div>
</div>
<div class="row p-2 g-4">
    @foreach (var perfume in Model)
    {
        @await Html.PartialAsync("Components/CartCard", perfume)
    }
</div>
<hr />
<div class="container ">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-baseline gap-2">
            <input type="checkbox" id="demoCheckbox" name="checkbox" value="1">
            <div class="d-flex flex-column">
                <label for="demoCheckbox"><b>Împachetați cadou,</b> anumite produse sau toată comanda.</label>
                <p class="text-muted"> Ambalăm totul cu drag, în cutii cadou de lux.</p>
            </div>
        </div>
        <label> 26 RON</label>
    </div>
</div>
<hr />
<div class="container ">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-baseline">
            <input type="checkbox" id="demoCheckbox" name="checkbox" value="1">
            <div class="d-flex flex-column align-items-baseline p-2">
                <label for="demoCheckbox"><b> Ambalare ecologică</b></label>
                <p class="text-muted">Ajutați-ne să protejăm mediul înconjurător, alegând ambalaje din material reciclat, fără plastic.</p>
            </div>
        </div>
        <label> 5 RON</label>
    </div>
</div>
<hr />
<div class="container ">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-baseline">
            <input type="checkbox" id="demoCheckbox" name="checkbox" value="1">
            <div class="d-flex flex-column align-items-baseline p-2">
                <label for="demoCheckbox"><b>Asigurare colet</b></label>
                <p class="text-muted">În cazul deteriorării sau al pierderii coletului, nu așteptați rezolvarea situației în termenul legal.</p>
            </div>
        </div>
        <label> 4 RON</label>
    </div>
</div>
<hr />
<div class="pl-5">
    <b>Reducere transport 100 %</b>
</div>
<hr />
<div class="pl-5 d-inline-block">
    <b>Voucher cadou sau codul de reducere</b>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Introdu codul de reducere" aria-label="Introdu codul de reducere" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">OK</button>
    </div>
</div>
<div class="card border-0">
    <div class="card-body border-color">
        <div class="d-flex flex-row-reverse gap-2 align-items-baseline">
            <h3><b>450 RON</b> </h3>
            <h4> Pret total inclusiv TVA</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-5 d-flex justify-content-between align-items-baseline">
        <button type="button" class="btn btn-outline-dark">înapoi la cumpărături</button>
        <button type="button" class="btn btn-outline-dark" onclick="alert('Comanda a fost înregistrată cu succes'), history.back()">Comandă
        </button>
    </div>
</div>
