@model List<CartModel>
@*todo: change the model in the way that we can save the total price*@
<div class="container">
    <div class="title-cart">Coș de cumpărături</div>
</div>
@if (Model.Count() <= 0)
{
    <div class="container align-items-center p-5 g-5">
        <b>Nu aveți încă produse</b>
        <br />
        <strong>Doar faceți click pe simbolul cosului la produsele dumneavoastră dorite.</strong>
        <br />
        <br />
        <i class="fa fa-shopping-cart fa-2x"></i>
    </div>
}
@{
    var subtotal = Model.Sum(c => c.Quantity * c.Price);
}
<div class="row p-2 g-4">
    @foreach (var perfume in Model)
    {
        @await Html.PartialAsync("Components/CartCard", perfume)
    }
</div>
<hr />
@if (subtotal > 0)
{
    <div class="container ">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row align-items-baseline gap-2">
                <div class="d-flex flex-column align-items-baseline p-2">
                    <label ><b>Împachetați cadou</b> toată comanda.</label>
                    <p class="text-muted">Ambalăm totul cu drag, în cutii cadou de lux.</p>
                </div>
            </div>
            <label> 26 RON</label>
        </div>
    </div>
    <hr/>
    <div class="container ">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row align-items-baseline">
                <div class="d-flex flex-column align-items-baseline p-2">
                    <label><b> Ambalare ecologică</b></label>
                    <p class="text-muted">Ajutați-ne să protejăm mediul înconjurător, alegând ambalaje din material reciclat, fără plastic.</p>
                </div>
            </div>
            <label> 5 RON</label>
        </div>
    </div>
    <hr/>
    <div class="container ">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row align-items-baseline">
                <div class="d-flex flex-column align-items-baseline p-2">
                    <label ><b>Asigurare colet</b></label>
                    <p class="text-muted">În cazul deteriorării sau al pierderii coletului, nu așteptați rezolvarea situației în termenul legal.</p>
                </div>
            </div>
            <label> 4 RON</label>
        </div>
    </div>
   
    <hr/>
    <div class="card border-0">
        <div class="card-body border-color">
            <div class="d-flex flex-row-reverse gap-2 align-items-baseline">
                <span class="price">@(subtotal + 26 + 5 + 4) RON</span>
                <h4> Pret total inclusiv TVA</h4>
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="p-5 d-flex justify-content-between align-items-baseline">
        <a asp-area="" asp-controller="Perfume" asp-action="Perfumes" type="button" class="btn btn-outline-dark">Înapoi la cumpărături</a>
        <form action="@Url.Action("Checkout", "Cart")" method="post">
            <button type="submit" class="btn btn-outline-dark">Checkout</button>
        </form>
    </div>
</div>
