@model BrandModel

<div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
        <img src="@Model.Image" class="rounded mx-auto d-block p-1" alt="img">
        <div>
            <h5>@Model.Name</h5>
            <span>@Model.Description</span>
        </div>
    </div>
</div>
