<div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
        <img src="~/images/brands/VERSACe.jpg" class="rounded mx-auto d-block p-1" alt="img">
        <div>
            <br/>
            <br/>
            <h5>Descriere Versace</h5><br/>
            Brandul Versace simbolizează luxul italian și stilul clasic, cu un stop de extravaganță. Articolele de modă, parfumurile și accesoriile cu emblematicul logo al Meduzei combină un stil de viață modern cu dragostea pentru tradițiile italiene și patrimoniul familial.
            <br/>
            <br/>
            Povestea acestui brand de lux a început în 1978, odată cu fondarea sa, la Milano, de către Gianni Versace, un designer progresist și excentric. Stilul său distinct a cucerit imediat fanii din întreaga lume, iar Versace a devenit una dintre casele de modă internaționale de top. Primul parfum Versace – Gianni Versace for Women – a fost lansat în 1981, iar astăzi portofoliul include zeci de parfumuri Versace pentru femei și bărbați.
            <br/>
            <br/>
            Printre cele mai populare parfumuri Versace se numără apa de toaletă Versace Eros, cu o compoziție aromatică, apele de toaletă Dylan Blue și Versace The Dreamer și arzătoarea apă de parfum Versace Eros Flame. Doamnele si domnișoarele din întreaga lume adoră legendarul parfum de fructe și flori Versace Bright Crystal sau parfumul floral-lemnos Versace Versense. Succese răsunătoare au înregistrat și seturile cadou, unde parfumurile Versace pentru femei sunt prezentate alături de cosmetice similar parfumate, pentru răsfățul corpului.
            <br/>
            <br/>
            Încercați și dvs. parfumurile Versace – esențe pasionale cu temperament italian.
        </div>
    </div>
</div>
