@model List<WishModel>

<div class="container">
    <div class="title-cart">Lista de dorințe</div>
</div>
@if (Model.Count() <= 0)
{
    <div class="container align-items-center p-5 g-5">
        <b>Nu s-au găsit parfumuri!</b>
    </div>
}
<div class="row p-2 g-4">
    @foreach (var perfume in Model)
    {
        @await Html.PartialAsync("Components/WishCard", perfume)
    }
</div>
<hr />
