span h5 a {
    text-align-all: center;
    color: black;
}

span h5 a:hover {
    color: orangered;
}

a:hover {
    color: orangered;
}

li a {
    color: black;
}

button {
    color: aliceblue;
}
button:hover {
    background-color: orangered;
}