<div class="d-flex flex-row justify-content-between">
    <img src="~/images/new-product/N3.png" alt="img">
    <div class="card">
        <span> <h2><a href="#">VERSACE</a></h2></span>
    </div>
</div>